<div style="width: 100%; height: 100%; position: relative; background: #CDAE60">
    <div style="width: 960px; height: 1024px; left: 480px; top: 0px; position: absolute; background: #536878; border-top-left-radius: 45px; border-top-right-radius: 45px; overflow: hidden">
        <div style="height: 253px; left: 253px; top: 405px; position: absolute">
            <div style="width: 621px; height: 75px; left: 0px; top: 0px; position: absolute">
                <div style="width: 621px; height: 50px; padding-top: 6px; padding-bottom: 7px; padding-left: 15px; padding-right: 18px; left: 0px; top: 25px; position: absolute; background: white; border-radius: 45px; overflow: hidden; border: 3px #CDAE60 solid; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 588px; height: 37px; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Enter in Your Email:</div>
                </div>
                <div style="width: 95px; height: 25px; left: 17px; top: 0px; position: absolute; color: #CDAE60; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Email</div>
            </div>
            <div style="width: 621px; height: 82px; left: 0px; top: 171px; position: absolute">
                <div style="width: 621px; height: 50px; padding-top: 6px; padding-bottom: 7px; padding-left: 15px; padding-right: 18px; left: 0px; top: 32px; position: absolute; background: white; border-radius: 45px; overflow: hidden; border: 3px #CDAE60 solid; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 588px; height: 37px; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Enter in Your First Password:</div>
                </div>
                <div style="width: 95px; height: 25px; left: 17px; top: 0px; position: absolute; color: #CDAE60; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Password</div>
            </div>
        </div>
        <div style="width: 621px; height: 77px; left: 231px; top: 70px; position: absolute; color: #CDAE60; font-size: 80.50px; font-family: Inter; font-weight: 700; word-wrap: break-word">Sign In</div>
        <div style="width: 250px; height: 100px; left: 439px; top: 715px; position: absolute">
            <div style="width: 250px; height: 100px; left: 0px; top: 0px; position: absolute; background: #959595; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 45px; border: 3px #CDAE60 solid"></div>
            <div style="width: 235px; height: 58px; left: 7px; top: 21px; position: absolute; text-align: center; color: white; font-size: 52px; font-family: Inter; font-weight: 700; word-wrap: break-word">Sign In</div>
        </div>
    </div>
    <div style="width: 375px; height: 512px; left: 292px; top: 288px; position: absolute">
        <div style="width: 375px; height: 375px; left: 0px; top: 69px; position: absolute; background: #959595; border-radius: 45px"></div>
        <img style="width: 368px; height: 512px; left: 3px; top: 0px; position: absolute" src="https://via.placeholder.com/368x512" />
    </div>
</div>