<div style="width: 100%; height: 100%; position: relative; background: #CDAE60">
    <div style="width: 960px; height: 1024px; left: 480px; top: 0px; position: absolute; background: #536878; border-top-left-radius: 45px; border-top-right-radius: 45px; overflow: hidden">
        <div style="width: 621px; height: 82px; left: 231px; top: 657px; position: absolute">
            <div style="width: 621px; height: 50px; padding-top: 6px; padding-bottom: 7px; padding-left: 15px; padding-right: 18px; left: 0px; top: 32px; position: absolute; background: white; border-radius: 45px; overflow: hidden; border: 3px #CDAE60 solid; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 588px; height: 37px; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Enter in Your First Password:</div>
            </div>
            <div style="width: 95px; height: 25px; left: 17px; top: 0px; position: absolute; color: #CDAE60; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Password</div>
        </div>
        <div style="width: 621px; height: 75px; left: 231px; top: 487px; position: absolute">
            <div style="width: 621px; height: 50px; padding-top: 6px; padding-bottom: 7px; padding-left: 15px; padding-right: 18px; left: 0px; top: 25px; position: absolute; background: white; border-radius: 45px; overflow: hidden; border: 3px #CDAE60 solid; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 588px; height: 37px; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Enter in Your Email:</div>
            </div>
            <div style="width: 95px; height: 25px; left: 17px; top: 0px; position: absolute; color: #CDAE60; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Email</div>
        </div>
        <div style="width: 265px; height: 75px; left: 587px; top: 317px; position: absolute">
            <div style="width: 265px; height: 50px; padding-top: 7px; padding-bottom: 6px; padding-left: 15px; padding-right: 14px; left: 0px; top: 25px; position: absolute; background: white; border-radius: 45px; overflow: hidden; border: 3px #CDAE60 solid; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 236px; height: 37px; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Enter in Your Last Name:</div>
            </div>
            <div style="width: 95px; height: 25px; left: 18px; top: 0px; position: absolute; color: #CDAE60; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Last Name</div>
        </div>
        <div style="width: 265px; height: 75px; left: 231px; top: 317px; position: absolute">
            <div style="width: 265px; height: 50px; padding-top: 7px; padding-bottom: 6px; padding-left: 15px; padding-right: 14px; left: 0px; top: 25px; position: absolute; background: white; border-radius: 45px; overflow: hidden; border: 3px #CDAE60 solid; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 236px; height: 37px; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Enter in Your First Name:</div>
            </div>
            <div style="width: 95px; height: 25px; left: 17px; top: 0px; position: absolute; color: #CDAE60; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">First Name</div>
        </div>
        <div style="width: 621px; left: 231px; top: 891px; position: absolute">
            <div style="width: 250px; height: 100px; left: 0px; top: 0px; position: absolute">
                <div style="width: 250px; height: 100px; left: 0px; top: 0px; position: absolute; background: #959595; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 45px; border: 3px #CDAE60 solid"></div>
                <div style="width: 235px; left: 7px; top: 19px; position: absolute; text-align: center; color: white; font-size: 52px; font-family: Inter; font-weight: 700; word-wrap: break-word">Create</div>
            </div>
            <div style="width: 250px; height: 100px; left: 371px; top: 0px; position: absolute">
                <div style="width: 250px; height: 100px; left: 0px; top: 0px; position: absolute; background: #959595; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 45px; border: 3px #CDAE60 solid"></div>
                <div style="width: 235px; height: 58px; left: 7px; top: 21px; position: absolute; text-align: center; color: white; font-size: 52px; font-family: Inter; font-weight: 700; word-wrap: break-word">Sign In</div>
            </div>
            <div style="width: 68px; height: 58px; left: 277px; top: 21px; position: absolute; color: white; font-size: 52px; font-family: Inter; font-weight: 700; word-wrap: break-word">Or</div>
        </div>
        <div style="width: 621px; height: 77px; left: 231px; top: 70px; position: absolute; color: #CDAE60; font-size: 80.50px; font-family: Inter; font-weight: 700; word-wrap: break-word">Create Account</div>
    </div>
    <div style="width: 375px; height: 512px; left: 292px; top: 288px; position: absolute">
        <div style="width: 375px; height: 375px; left: 0px; top: 69px; position: absolute; background: #959595; border-radius: 45px"></div>
        <img style="width: 368px; height: 512px; left: 3px; top: 0px; position: absolute" src="https://via.placeholder.com/368x512" />
    </div>
    <div style="width: 277px; height: 50px; padding-top: 5px; padding-bottom: 8px; padding-left: 8px; padding-right: 8px; left: 711px; top: 800px; position: absolute; background: white; box-shadow: 0px 32px 32px -24px rgba(0, 0, 0, 0.10); border-radius: 45px; overflow: hidden; border: 3px #CDAE60 solid; backdrop-filter: blur(8px); flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 261px; height: 40px; flex-direction: column; justify-content: center; align-items: center; display: flex">
            <div style="align-self: stretch; padding: 8px; border-radius: 8px; overflow: hidden; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                    <div style="width: 22px; height: 22px; background: white; border-radius: 6px; border: 1px #616161 solid; justify-content: center; align-items: center; display: flex">
                        <div style="width: 2px; height: 2px; padding-top: 0.58px; padding-bottom: 0.57px; padding-left: 0.41px; padding-right: 0.41px; opacity: 0; justify-content: center; align-items: center; display: flex">
                            <img style="width: 1.17px; height: 0.85px" src="https://via.placeholder.com/1x1" />
                        </div>
                    </div>
                </div>
                <div style="flex: 1 1 0; color: black; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Are You of 21 Years of Age?</div>
            </div>
        </div>
    </div>
</div>